//
// Variables
// --------------------------------------------------

// Bootstrap customization
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$font-family-sans-serif: Tahoma;
$font-size-base: 8pt;

// App vars
